.button {
    font-size: 15px;
    cursor: pointer;
    padding: 5px 0;
    text-align: center;
    color: #333;
    border-radius: 2px;
    border: 1px solid #ccc;
    box-shadow: 0 1px 1px #F5F3F3 inset;
    text-decoration: none;

    background-image: -webkit-gradient(
        linear,
        left top,
        left bottom,
        color-stop(0, #FAFAFA),
        color-stop(1, #E6E6E6)
    );
    background-image: -o-linear-gradient(bottom, #FAFAFA 0%, #E6E6E6 100%);
    background-image: -moz-linear-gradient(bottom, #FAFAFA 0%, #E6E6E6 100%);
    background-image: -webkit-linear-gradient(bottom, #FAFAFA 0%, #E6E6E6 100%);
    background-image: -ms-linear-gradient(bottom, #FAFAFA 0%, #E6E6E6 100%);
    background-image: linear-gradient(to bottom, #FAFAFA 0%, #E6E6E6 100%);

    transition: border .33s ease;
}

.button:hover {
    border-color: #72A7DF;
    color: #222;
}

.button:active {
    border-color: #2D86E4;
}