.status-box {
    position: fixed;
    height: 35px;
    left: 0;
    top: -35px;
    opacity: 0;
    line-height: 35px;
    overflow: hidden;
    width: 100%;
    box-shadow: 0 0 5px rgba(0,0,0,.5);
    transition: top .5s ease, opacity .5s ease;
}

.status-box.open {
    top: 0;
    opacity: 1;
}

.status {
    padding: 0 10px;
    height: 35px;
    border-bottom: 2px solid;
}

.status.success {
    background: #CEF8CE;
    border-color: #19AE19;
}

.status.error {
    background: #FAD7D7;
    border-color: #BA1717;
}