.status-box {
    position: fixed;
    height: 35px;
    left: 0;
    line-height: 35px;
    overflow: hidden;
    width: 0;
    box-shadow: 0 0 5px rgba(0,0,0,.8);
    -webkit-transition: width .5s linear;
}

.status-box.open {
    width: 100%;
}

.status {
    padding: 0 10px;
    height: 35px;
    border-bottom: 2px solid;
}

.status.success {
    background: #CEF8CE;
    border-color: green;
}

.status.error {
    background: #FAD7D7;
    border-color: red;
}