text {
    font-size: 10px;
    fill: #666;
    stroke: none;
    text-anchor: middle;
}

.axis {
    shape-rendering: crispEdges;
}

.axis, .line {
    stroke: #777;
    fill: none;
}

.line {
    stroke: #333;
    stroke-width: 1.5px;
}

.bars {
    fill: #9BBADB;
    shape-rendering: crispEdges;
}

.grid line {
    fill: none;
    stroke-width: 1px;
    stroke: #e9e9e9;
    shape-rendering: crispEdges;
}